{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/pat/tsukasa/crash/crash.png?scalenearest=3",
      "fileFooter" : ""
    },
    "dreamed" : {
      "type" : "image",
      "position" : [0, 0]
    },
		"konata" : {
			"type" : "image",
			"position" : [1000, 300],
      "data": {
        "duration": 0.18,
        "frames": 6,
        "file": "/pat/tsukasa/crash/konata.png"
      }
		}
  },
  "scripts" : ["/pat/tsukasa/crash/crash.lua"]
}