{
  "scripts": [ "/pat/tsukasa/tsukasa.lua" ],
  "scriptWidgetCallbacks": [ "closeButton", "thanksButton", "textboxUpdated" ],

  "coverImage": "/pat/tsukasa/ui/cover.png",

  "cursors": {
    "pointer": "/pat/tsukasa/cursors/pointer.cursor",
    "select": "/pat/tsukasa/cursors/select.cursor",
    "text": "/pat/tsukasa/cursors/text.cursor",
    "busy": "/pat/tsukasa/cursors/busy.cursor",
    "working": "/pat/tsukasa/cursors/working.cursor"
  },

  "canvasClickCallbacks": { "closeButtonCanvas": "CanvasButtonClicks.close", "thanksButtonCanvas": "CanvasButtonClicks.thanks" },
  "canvasButtons": {
    "close": {
      "canvasName": "closeButtonCanvas",
      "image": "/pat/tsukasa/ui/x_hd.png",
      "scale": 0.5,
      "callback": "closeButton"
    },
    "thanks": {
      "canvasName": "thanksButtonCanvas",
      "image": "/pat/tsukasa/ui/thanks_hd.png",
      "scale": 0.5,
      "callback": "thanksButton"
    }
  },

  "animations": {
    "tsukasa": {
      "image": "/pat/tsukasa/ui/tsukasa.png:<frame>",
      "frames": 16,
      "duration": 4.07
    }
  },

  "gui": {
    "_background": {
      "type": "background",
      "fileHeader": "/pat/tsukasa/ui/header.png?multiply=0000",
      "fileBody": "/pat/tsukasa/ui/body.png?multiply=0000"
    },
    "_background_hd": {
      "type": "image",
      "file": "/pat/tsukasa/ui/background_hd.png",
      "scale": 0.5,
      "mouseTransparent": true,
      "zlevel": -9999
    },
    "tsukasa": {
      "type": "image",
      "file": "/pat/tsukasa/ui/tsukasa.png:0",
      "position": [ 4, 3 ],
      "scale": 0.5,
      "mouseTransparent": true,
      "zlevel": -9900
    },
    "cover": {
      "type": "image",
      "scale": 0.5,
      "visible": false,
      "mouseTransparent": false,
      "zlevel": 9999
    },

    "mouseCanvas": {
      "type": "canvas",
      "size": [ 300, 136 ],
      "zlevel": -9000
    },
    "closeButtonCanvas": {
      "type": "canvas",
      "rect": [ 276, 126, 298, 136 ],
      "zlevel": 0,
      "captureMouseEvents": true
    },
    "thanksButtonCanvas": {
      "type": "canvas",
      "rect": [ 173, 2, 240, 22 ],
      "zlevel": 0,
      "captureMouseEvents": true
    },

    "cardNumberFocus": {
      "type": "image",
      "file": "/pat/tsukasa/ui/focus.png",
      "position": [ 184, 64 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -8
    },
    "expiryDateFocus": {
      "type": "image",
      "file": "/pat/tsukasa/ui/focus.png",
      "position": [ 184, 43 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -8
    },
    "securityCodeFocus": {
      "type": "image",
      "file": "/pat/tsukasa/ui/focus.png",
      "position": [ 184, 22 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -8
    },

    "cardNumberError": {
      "type": "image",
      "file": "/pat/tsukasa/ui/error.png",
      "position": [ 184, 64 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -6
    },
    "expiryDateError": {
      "type": "image",
      "file": "/pat/tsukasa/ui/error.png",
      "position": [ 184, 43 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -6
    },
    "securityCodeError": {
      "type": "image",
      "file": "/pat/tsukasa/ui/error.png",
      "position": [ 184, 22 ],
      "visible": false,
      "mouseTransparent": true,
      "scale": 0.5,
      "zlevel": -6
    },

    "cardNumber": {
      "type": "textbox",
      "position": [ 189, 70 ],
      "hint": "^#ccc; 1234 5678 9012 3456",
      "maxWidth": 106,
      "color": [ 80, 80, 80 ],
      "nextFocus": "expiryDate",
      "callback": "textboxUpdated",
      "data": {
        "cursor": "text"
      }
    },
    "expiryDate": {
      "type": "textbox",
      "position": [ 189, 49 ],
      "hint": "^#ccc; MM/YY",
      "maxWidth": 106,
      "color": [ 80, 80, 80 ],
      "nextFocus": "securityCode",
      "prevFocus": "cardNumber",
      "callback": "textboxUpdated",
      "data": {
        "cursor": "text"
      }
    },
    "securityCode": {
      "type": "textbox",
      "position": [ 189, 28 ],
      "regex": "[0-9]{0,3}",
      "hint": "^#ccc; 123",
      "maxWidth": 106,
      "color": [ 80, 80, 80 ],
      "prevFocus": "expiryDate",
      "nextFocus": "thanksButton",
      "callback": "textboxUpdated",
      "data": {
        "cursor": "text"
      }
    },
    "_restored": { "type": "widget" }
  }
}
